/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wolf-container {
	&.bg-red-background {
		background-color: #F41E1E;
	}
	&.bg-gray-background {
		background-color: #222222;
	}

	.wolf-blocks-container-top,
	.wolf-blocks-container-bottom {
		width: 100%;
		background-repeat: no-repeat;
	}

	.wolf-blocks-container-top {
		background-position: top center;
		background-size: cover;

		&.white-wave-1 {
			background-image: url("../../assets/images/backgrounds/white_top_wave_02.avif");
			aspect-ratio: 1920 /130;
		}
		&.white-wave-2 {
			background-image: url("../../assets/images/backgrounds/white_top_wave_03.avif");
			aspect-ratio: 1920 /160;
		}
	}

	.wolf-blocks-container-bottom {
		background-position: bottom center;
		background-size: cover;

		&.white-wave-1 {
			background-image: url("../../assets/images/backgrounds/white_bottom_wave_02.avif");
			aspect-ratio: 1920 /165;
		}
		&.white-wave-2 {
			background-image: url("../../assets/images/backgrounds/white_bottom_wave_03.avif");
			aspect-ratio: 1920 /120;
		}
		&.black-wave-1 {
			background-image: url("../../assets/images/backgrounds/black_bottom_wave_02.avif");
			aspect-ratio: 1920 /130;
		}
	}

	.wolf-blocks-container-content {
		padding: 20px;
		margin: 0 auto;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		.wolf-blocks-container-content {
			max-width: 750px;
		}
	}
	@media screen and (min-width: 992px) {
		.wolf-blocks-container-content {
			max-width: 970px;
		}
	}
	@media screen and (min-width: 1200px) {
		.wolf-blocks-container-content {
			max-width: 1170px;
		}
	}
}
